*{
    background-color:lightblue;
}

.center{
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.fav{
    color:red;
    text-align: center;
    
}

h1{
    text-align: center;
    color: green;
}
div{
    text-align: center;
}
ul{
display: inline-block;
text-align: left;
}

li{
    color: red;
    text-align: center;
}

em{
    color: red;
}